.grid-layout {
  margin: auto;
  width: 50%;

  .item1 {
    text-align: center;
    grid-area: header;
    .title {
      margin-top: 4rem;
      font-size: 48px;
    }
  }
  .item2 {
    grid-area: menu;
    float: left;
    .mat-card-image {
      width: 350px;
      height: 350px;
    }
  }
  .item3 {
    text-align: left;

    grid-area: main;
  }
  .item4 {
    text-align: left;

    grid-area: main2;
  }
  .item5 {
    text-align: left;

    grid-area: right;
  }
  .item6 {
    text-align: left;

    grid-area: footer;
  }

  .grid-container {
    height: 30%;
    display: grid;
    grid-template-areas:
      "header header header header header header header"
      "menu main main main main2 main2 right"
      "menu footer footer footer footer footer right";
    grid-gap: 8px;
    color: #016ec1;
  }

  .grid-container > div {
    padding: 20px 0;
    font-size: 20px;
  }

  &:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

.loading {
  text-align: center;
  margin: 15% 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #673ab7;

  .mat-spinner {
    margin: 20px auto;
  }
}
