.grid-layout {
  height: max-content;
  padding: 50px;

  width: 100%;
  // height: 100%;
  min-height: 100%;

  // grid-gap: 60px;
  // margin: 0 auto;

  .container {
    padding: 80px;
    min-height: 320px;
  }
  .pokemon-card {
    min-width: 380px;
    max-width: 700px;
    color: black;
    // background-color: rgb(35, 35, 35);
    display: inline-block;

    &:hover {
      -webkit-animation-name: pulse;
      animation-name: pulse;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;

      // .mat-card-image {
      //   transform: scale(1.1);
      // }
    }

    .mat-card-title {
      font-size: 72px;
      display: inline-flex;
    }

    .background-image {
      width: 300px;
      height: max-content;
      background-color: white;

      // background-color: #616161;
      // border-radius: 10px;

      .mat-card-image {
        width: 150px;
        margin-bottom: 0px;
      }
    }

    .mat-card-content {
      // margin: 0;

      .types {
        display: inline-flex;
        margin: 15px 10px 5px 0px;
        padding: 5px 10px;
        text-shadow: black 1px 1px 1px;
        border-radius: 10px;
        font-size: 35px;
      }
    }
  }
}

.loading {
  text-align: center;
  margin: 15% 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #673ab7;

  .mat-spinner {
    margin: 20px auto;
  }
}
