/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  // overflow: hidden;

  border: 25px solid #016ec1;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Roboto Condensed", sans-serif;
}

html,
body {
  height: 100%;
}
// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }
