@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  border: 25px solid #016ec1;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Roboto Condensed", sans-serif;
}

html,
body {
  height: 100%;
}
