.content-area {
  // background-color: #ef5350;
  // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  position: sticky;

  .pokemon-logo {
    margin-top: 1rem;
    margin-left: 50px;
    height: 150px;
    width: 350px;
  }

  .subtitle {
    color: #016ec1;
    // font-size: 48px;
    // font-weight: bold italic large serif;
    margin-top: 2rem;
    margin-left: 1rem;
    text-align: center;
  }

  .center {
    margin-top: 2rem;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .mat-icon {
    height: 35px;
    width: 35px;
    line-height: 35px;
  }

  .search-box {
    .search-input {
      font-size: 16px;
      font-weight: bold;
      margin-right: -80px;
      padding: 2px 5px 2px 20px;
      height: 50px;
      width: 570px;
      border-radius: 50px;
      border: none;
      outline: none !important;
      border: 2px solid #016ec1;
      background: white;
    }
  }
  .close-button {
    // margin-left: 1rem;
    background: none;
    border: none;
  }
  .mat-select {
    text-transform: capitalize;

    .additional-selection {
      text-transform: lowercase;
      opacity: 0.75;
      font-size: 0.75em;
    }
  }
}

.generator {
  font-size: 16px;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 50px;
  padding: 2px 5px 2px 20px;
  // height: 50px;
  width: 470px;
  border-radius: 50px;
  border: none;
  outline: none !important;
  background: #ffca00;
}
