.content-area {
  position: sticky;

  .pokemon-logo {
    margin-top: 1rem;
    margin-left: 50px;
  }

  .subtitle {
    color: #016ec1;
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-left: 1rem;
    text-align: center;
  }

  .center {
    margin-top: 2rem;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .mat-icon {
    height: 35px;
    width: 35px;
    line-height: 35px;
  }

  .search-box {
    .search-input {
      font-size: 16px;
      font-weight: bold;
      margin-right: -80px;
      padding: 2px 5px 2px 20px;
      height: 50px;
      width: 770px;
      border-radius: 50px;
      border: none;
      outline: none !important;
      border: 2px solid #016ec1;
      background: white;
    }
    ::placeholder {
      color: #016ec1;
      font-style: bold;
    }

    mat-icon {
      width: 2rem;
      margin-left: 1rem;
      color: #016ec1;
      transform: scale(2);
    }
  }
  .close-button {
    background: none;
    border: none;
  }
  .mat-select {
    text-transform: capitalize;

    .additional-selection {
      text-transform: lowercase;
      opacity: 0.75;
      font-size: 0.75em;
    }
  }
}

.generator {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 50px;
  padding: 2px 5px 2px 20px;
  height: 50px;
  width: 320px;
  border-radius: 50px;
  border: none;
  outline: none !important;
  background: #ffca00;
}
