<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div style="text-align: center" class="bg-white dark:bg-gray-800">
    <img
      style="width: 500px; height: 250px"
      class="pokemon-logo"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png"
    />

    <div *ngIf="searchResult" class="subtitle">
      <h2 style="font-size: 40px"><strong>CODE NAME GENERATOR</strong></h2>
    </div>

    <div style="text-align: center" class="search-box">
      <div class="center">
        <div>
          <input
            *ngIf="searchResult"
            matInput
            class="search-input"
            type="text"
            [formControlName]="SEARCH_INPUT"
            placeholder="CHOOSE YOUR LETTER..."
          />
          <mat-icon *ngIf="searchResult" [inline]="true">search</mat-icon>
        </div>

        <button
          *ngIf="searchResult"
          class="bg py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400"
        >
          Generate
        </button>
      </div>
    </div>

    <div>
      <app-pokemon-result [search]="search"></app-pokemon-result>
    </div>

    <button
      style="color: white"
      *ngIf="!searchResult"
      mat-button
      style="margin-bottom: 7rem"
      class="generator"
      type="button"
      (click)="clearSearch()"
    >
      Generate Another
    </button>
  </div>
</form>
