<!-- <form> -->
<div style="text-align: center" class="content-area">
  <img
    class="pokemon-logo"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png"
  />

  <div style="text-align: center">
    <h4>CODE NAME GENERATOR</h4>
  </div>

  <div style="text-align: center" class="search-box">
    <div class="center">
      <div>
        <input
          matInput
          class="search-input"
          type="text"
          ngDefaultControl
          [(ngModel)]="search"
          (ngModelChange)="searchEvent($event)"
          placeholder="Choose your letter..."
        />

        <button class="close-button" mat-icon-button (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <button
        *ngIf="searchResult"
        mat-button
        class="generator"
        type="button"
        [(ngModel)]="search"
        (ngModelChange)="searchEvent($event)"
      >
        Generate Pokemon
      </button>
    </div>
  </div>

  <div>
    <app-pokemon-result [search]="search"></app-pokemon-result>
  </div>

  <button
    *ngIf="!searchResult"
    mat-button
    class="generator"
    type="button"
    [(ngModel)]="search"
    (click)="clearSearch()"
  >
    Generate Another
  </button>
</div>
